.ProductViewItemsOrder
  display: grid
  grid-template-columns: auto 1fr
  grid-gap: 1.25rem
  margin-top: 2rem
  &__itemsCount
    display: flex
    column-gap: 0.5rem
    flex-flow: row nowrap
    align-items: center
    border-radius: 0.5rem
    background: rgba(0, 0, 0, 0.5)
    width: fit-content
    & > button
      display: flex
      justify-content: center
      align-items: center
      height: 2rem
      width: 2rem
      font-size: 1.5rem
      font-weight: 700
      color: #06b6d4
      background: transparent
      border: none
      padding: 0 2rem
      cursor: pointer
    & > p
      font-size: 1.2rem
      font-weight: 400
  &__form
    width: 100%
  &__submit
    width: 100%
    height: 3rem
    display: flex
    flex-flow: row nowrap
    column-gap: 0.5rem
    align-items: center
    justify-content: center
    padding: 0.5rem 1rem
    border: none
    border-radius: 0.5rem
    font-weight: 700
    font-size: 1.2rem
    cursor: pointer
    color: white
    margin-top: auto