.Description
  & > img
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2)
  &__text
    & > h2
      font-size: 2.5rem
      font-weight: 600
      color: $color-secondary
      margin: 0 2rem 2rem 0
    & > p
      font-size: 1.2rem
      line-height: 1.75
      color: $text-color