.Hero
  & > h1
    margin: 3rem 0 1rem
    letter-spacing: 0.05em
    text-align: center
    font-weight: bold
  & > h2
    font-size: 2rem
    margin: 0 0 3rem 0
    text-align: center
    color: $color-secondary